<div class="book-details">

  <div class="book-details-cover">
    <img src="<%= book.coverImagePath %>" />
  </div>

  <div class="book-details-info">

    <h1 class="page-title"><%= book.title %></h1>

    <p><strong>Author:</strong> <%= book.author.name %></p>

    <p><strong>Publish Date:</strong> <%= book.publishDate.toDateString() %></p>

    <p><strong>Page Count:</strong> <%= book.pageCount %></p>

    <p class="book-description">
  <strong>Description:</strong> <%= book.description %>
</p>
    <div class="book-actions">

      <a class="btn-secondary" href="/books/<%= book.id %>/edit">Edit</a>

      <%- include('../partials/delete_Form',
      { url: `/books/${book.id}` }) %>

      <a class="btn-secondary" href="/authors/<%= book.author.id %>">View Author</a>

    </div>

  </div>

</div>